body, html {
	/*background-color: #66CCFF;*/
	height: 100%;
}

.container.app-presentation {
	color: #fff;
	margin-top: 5%;
}

.row { 
 height: -moz-calc(100% - 150px); /* Firefox */
 height: -webkit-calc(100% - 150px); /* Chrome, Safari */
 height: calc(100% - 150px); /* IE9+ and future browsers */
}