<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>What's good?</title>
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Optimizing for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <nav class="white lighten-1" role="navigation" style="z-index:1000000">
    <div class="nav-wrapper" style="z-index:100000">
    <a href="#" class="brand-logo center"><img class="waves-effect" src="public/logosmall.png" style="height:60px;background:white;"/></a>
      <ul class="left">
        <li><a class="waves-effect waves-light black-text" href="/index"><i class="material-icons right">home</i>Home</a></li>
        <li><a class="waves-effect waves-light black-text" href="/recommendations">Recommendations<i class="material-icons right">receipt</i></a></li>
      </ul>
      <ul class="right">
        <li><a class="waves-effect waves-light black-text" href="/logout"><i class="material-icons right">input</i>Logout</a></li>
      </ul>
    </div>
  </nav>

  <div class="center-card">
        <div class="card">
          <div id="medium-image" class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{poster_url}}">
          </div>
          <div class="card-reveal">
            <span style="font-size:20px" class="card-title grey-text text-darken-4 twenty">{{title}}</span>
            <p>
            {% if synopsis != '' %} 
              {{synopsis}}
            {% else %}
              No Synopsis Available.
            {% endif %}
            </p>
          </div>
        </div>
  </div>

  <div class="row mainrow">
      <div class="col s6" style="height:100%;">
        <a href="/index?movie_id={{movie_id}}&rating=1" id="dope" class="big full valign whole waves-effect  waves-green white black-text"><i class="up-down material-icons">thumb_up</i></a>
      </div>
      <div class="col s6" style="height:100%;">
        <a href="/index?movie_id={{movie_id}}&rating=0" id="nope" class="big full valign whole waves-effect  waves-red white black-text"><i class="up-down material-icons">thumb_down</i></a>
      </div>
  </div>

  <footer class="page-footer light-blue">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="white-text text-lighten-3" href="#">Arjun Raj Jain, Alex Wissmann, Rohan Bopardikar</a>
      </div>
    </div>
  </footer>

  <!-- importing scripts -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script> 
  <script>
    Materialize.fadeInImage('.activator')
  </script>
  </body>
</html>