<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>What's good?</title>
	<link rel="stylesheet" href="css/app.css">
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
	<!-- Optimizing for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
	<!-- header and presentation -->
	<div class="row">
		<div class="container app-presentation">
			<h3 class="center-align"><img class="waves-effect" src="public/logo.png" style="height:200px"/></h3>
		</div>
	</div>
	<!-- login panel -->
	<div class="row">
		<div class="col s12 m6 l4 offset-m3 offset-l4">
			<div class="card-panel">
				<form action="/login" method="POST">
					<div class="row">
						<div class="input-field col s12">
							<i class="mdi-action-account-circle prefix"></i>
							<input name="email" type="email" class="validate">
							<label for="email">Email</label>
						</div>
						<div class="input-field col s12">
							<i class="mdi-communication-vpn-key prefix"></i>
							<input name="password" type="password" class="validate">
							<label for="password">Password</label>
						</div>
						<div class="input-field col s12 center">
							<button class="btn waves-effect waves-light" type="submit" name="action">
								Login
								<i class="mdi-content-send right"></i>
							</button>
						</div>
						
						<div class="divider"></div>

						<div class="col s12">
							<p class="center-align">Don't have an account?<br><a href="/signup">Sign Up</a></p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- importing scripts -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>	
</body>
</html>
